@import '~@/presentation/styles/colors.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    flex: 1;
    display: flex;
    background-color: $c-background;
    overflow: hidden;

    .sider {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;

      &:first-of-type {
        border-right: 1px solid rgba($c-black, 0.3);
      }
    }
  }
}
