@import '~@/presentation/styles/colors.scss';

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  flex-direction: column;
  height: 100vh;

  .content {
    display: flex;
    background-color: $c-background;
    overflow: hidden;

    .sider {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;

      &:first-of-type {
        border-right: 1px solid transparentize($c-black, 0.7);
      }
    }
  }
}
