@import '~@/presentation/styles/colors.scss';

.container {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: $c-background-dark;
  box-shadow: 0 0 2px 0 transparentize($c-black, 0.3);
  z-index: 5;

  .status {
    height: 25px;
    width: 25px;
    margin: 0 15px;
    border-radius: 50%;
    background-color: transparentize($c-white, 0.8);
    transition: background-color 200ms;

    &--connected {
      background-color: $c-success;
    }

    &--connecting {
      animation: connecting 500ms infinite alternate ease-out;
    }

    &--disconnected {
      background-color: $c-error;
    }
  }

  .form {
    flex: 1;
    display: flex;
    height: 100%;

    .input {
      flex: 1;
      border: none;
      background-color: transparent;
      font-size: 16px;
      transition: border-width 200ms, color 200ms;

      &--error {
        border-left: 5px solid $c-error;
        padding-left: 5px;
      }

      &:disabled {
        color: transparentize($c-text, 0.5);
      }
    }

    .submit {
      width: 100px;
      border: none;
      background-color: transparent;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        background-color: transparentize($c-white, 0.95);
      }

      &:active {
        background-color: transparentize($c-white, 0.9);
      }
    }
  }
}

@keyframes connecting {
  from {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
