@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $c-text;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $c-background;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba($c-black, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($c-black, 0.3);
}
