@import '~@/presentation/styles/colors.scss';

.container {
  background-color: $c-background-dark;
  box-shadow: 0 0 2px 0 transparentize($c-black, 0.3);
  z-index: 1;

  .input {
    height: 45px;
    width: 100%;
    padding: 10px 10px;
    border: 0;
    border-bottom: 1px solid transparentize($c-black, 0.7);
    background-color: transparent;
    font-size: 16px;
    resize: none;
    transition: border-width 200ms, color 200ms;

    &.error {
      border-left: 5px solid $c-error;
      padding-left: 5px;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    .submit {
      width: 80px;
      border: none;
      background-color: transparent;
      font-size: 16px;
      font-weight: 600;
      line-height: 35px;
      cursor: pointer;

      &:hover {
        background-color: transparentize($c-white, 0.95);
      }

      &:active {
        background-color: transparentize($c-white, 0.9);
      }

      &:disabled {
        background-color: transparent;
        color: transparentize($c-text, 0.5);
        cursor: inherit;
      }
    }
  }
}
